<div class="about-container">
  <span class="close-x">x</span>
  <div class="row person-container">
    <div class="col-md-3">
      <img src="http://hrhq.squarespace.com/assets/images/heroes/tonyphillips.jpg">
    </div>
    <div class="col-md-8 person" >
      <h3 class="bio-name">Anthony Phillips</h3>
      <h5 class="bio-title">Chief Executive Officer</h5>
      <p  class="bio-profile">Tony co-founded Hack Reactor drawing from his time designing language curriculum in South Korea as a <span itemprop="alumniOf">Fulbright Scholar</span>, managing language immersion schools, a stint teaching Rails at <span itemprop="alumniOf">Dev Bootcamp</span> and his own self-guided experience learning Ruby and JavaScript.</p>

    </div>
  </div>
  <div class="row person-container" style="margin-top: 70px;">
    <div class="col-md-3">
      <img src="http://hrhq.squarespace.com/assets/images/heroes/shawndrost.jpg">
    </div>
    <div class="col-md-8 person">
      <h3 >Shawn Drost</h3>
      <h5 class="bio-title">Lead Instructor and Chief Commercial Officer</h5>
      <p class="bio-profile">Shawn started coding at 15, writing games on his TI-83. At 17, he was already teaching classes on pointer arithmetic and class hierarchies.  He studied Computer Science at <span itemprop="alumniOf">USC</span> and has been a software engineer ever since, most recently leading a technical team at OKCupid Labs.</p>
      <p class="bio-profile">Shawn runs the second half of Hack Reactor’s curriculum, including the self-directed project periods and the graduate hiring program.
      </p><p class="bio-profile">Twitter: <a target="_blank" href="http://www.twitter.com/shawndrost">@shawndrost</a></p>
    </div>
  </div>
  <div class="row person-container" style="margin-top: 70px;">
    <div class="col-md-3">
      <img src="http://hrhq.squarespace.com/assets/images/heroes/marcusphillips.jpg">
    </div>
    <div class="col-md-8 person">
      <h3> Marcus Phillips</h3>
      <h5 class="bio-title">CTO and Head of Instruction</h5>
      <p class="bio-profile">At <span itemprop="affiliation">Twitter</span>, Marcus led several technical training initiatives and worked on the company’s JavaScript framework internals. Marcus directs the <span itemprop"worksfor"="">Hack Reactor</span> curriculum and the software that supports it. He also runs JavaScript training tracks for JSConf and HTML5 DevConf.</p>
      <p class="bio-profile"><a target="_blank" href="http://www.youtube.com/watch?v=ZHlFxz_JFe8" class="video">Watch Marcus Teach on "Coding for GOOD"</a>.</p>
      <a style="display: inline-block; margin-bottom: 25px;" href="http://panelpicker.sxsw.com/vote/32042" target="_blank"><img src="http://www.sxswedu.com/sites/default/files/vote_panel1_edu15.png" width="175" height="130" alt="PanelPicker Vote for Marcus talk" title="Vote for Marcus talk"></a>
    </div>
  </div>
</div>