@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans';
  background: #F0F1F0;
  font-size: 1em;
  text-align: center;
}
button {
  width: 250px;
  height: 50px;
  color: #F0F1F0;
  font-size: 0.8em;
  background: #1BBA9A;
  outline: none;
  cursor: pointer;
  border: none;
  margin-top: 10em;
}

/* close icon */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-remove:before {
  content: "\e014";
}


/* demo info page */
.info-overlay {
  color: #F0F1F0;
  font-size: 20px;
  text-align: left;
  background: #1BBA9A;
}
.content {
  padding: 20px;
}
.content h2 {
  text-align: center;
}
.info-overlay > button {
  color: #1BBA9A;
  display: block;
  background: #fcfcfc;
  /* center the button: */
  left: -125px;
  margin: 20px 50%;
  position: relative;
}

/* signup form */
.sign-up {
  background: #fcfcfc;
  width: 400px;
  height: 500px;
  color: #F0F1F0;
  font-weight: bold;
}
.sign-up button {
  background: #1BBA9A;
  color: #fcfcfc;
}
.sign-up form label {
  color: #1BBA9A;
}
.sign-up form input[type="text"],
.sign-up form input[type="password"] {
  border: 2px solid #1BBA9A;
  color: #1BBA9A;
}



/* demo login form */
.login {
  background: #1BBA9A;
  width: 400px;
  height: 400px;
  color: #F0F1F0;
  font-weight: bold;
}
.close {
  margin: 10px;
  z-index: 2000;
  font-size: 25px;
  float: right;
  cursor: pointer;
  color: rgb(19, 146, 121);
}
.close:hover {
  color: #F0F1F0;
}
form {
  position: relative;
  text-align: left;
  padding: 25px;
}
form p {
  margin-bottom: 5px;
}
form label {
  display: block;
  font-size: 16px;
  padding: 10px 0 0;
  color: #FCFCFC;
  letter-spacing: 1px;
  font-weight: normal;
}
form input {
  padding: 10px;
  width: 100%;
  border: 2px solid #F0F1F0;
  background: transparent;
  color: #F0F1F0;
  font-weight: 300;
  font-size: 24px;
}
form input:focus {
  outline: 0;
}
form button {
  display: block;
  margin-top: 30px;
  padding: 1em;
  width: 100%;
  border: none;
  background: #F0F1F0;
  color: #1BBA9A;
  letter-spacing: 1px;
  line-height: 0;
  font-size: 17px;
}


/* footer */
.info {
  margin-top: 10em;
  color: #AFAFAF;
  line-height: 1.8em;
  font-size: 0.8em;
  letter-spacing: -.02em;
}
.info a {
  color: #1BBA9A;
  text-decoration: none;
}